body {
  background-color: lightgrey;
}

.digitalClock {
  text-align: center;
  padding: 50px;
}
#clockTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
}

#dateDisplay {
  font-size: 50 px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.digitalClock #timeDisplay {
  font-size: 100px;
  color: lightseagreen;
  text-align: center;
  padding: 50px;
}
